<%provide(:title, "Home")%>
<!DOCTYPE html>

      <h1>MiniApp!</h1>
      <p>First application of
      <a href="http://www.github.com/shockstate"> shockstate.</a>. Visit me to get rid of new projects!
      </p>
